.button {
  background-color: white;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.secondary {
  background-color: blue;
  color: white;
}

.tertiary {
  background-color: green;
  color: white;
}
