.button {
  background-color: var(--primary_300);
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  resize: both;
  overflow: auto;
}

.secondary {
  background-color: var(--warning_600);
  color: white;
}

.tertiary {
  background-color: var(--info_600);
  color: white;
}
